:root{
    --titulo: #4a5868;
    --enlace: #a4c0e1;
    --button-login: #0070ba;
    --button-text: #ffff;
    --boton-hover: #002f87ea;
    --border: #9da3a6;
    --title-ant-color: #50010e;
 }
  
  
html {
    font-size: 62.5%;
}  
  
body{    
    position: fixed;
    margin: 0;
    padding: 0;    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
}

main {
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 8rem;
}

.title-container{
    display: grid;
    grid-row: 1;
}

#title {
    text-align: center;
    color: var(--title-ant-color);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;  
    font-size: 3.2rem;
    font-style: oblique;
    letter-spacing: 0.5rem;    
    text-shadow: 0.1rem 0.1rem var(--hover-enlace);  
}

.login-form-container {
    display: grid;
    grid-row: 2;
    width: 88%; 
    padding-bottom: 20rem;
    margin-left: auto;     
    margin-right: auto;
    margin-top: 7rem; 
}

input:focus { 
    outline: none;    
    box-shadow: 0 0 10px var(--button-login);
}


#email, #password{
    width: 90%;
    height: 5rem;    
    border-radius: 0.6rem;
    border: 0.0625rem solid var(--border);
    padding-left: 2rem; 
    margin-bottom: 2rem;
    font-size: 1.5rem;    
}


#submit-button{
    width: 18rem;    
    height: 4.55rem;
    border-radius: 10rem;
    text-align: center;
    padding-left: 0;
    float: right;
    margin-right: 2rem;
    margin-top: 1rem;
    font-size: 1.7rem;
    background-color: var(--button-login);
    color: var(--button-text);
}


#login-button:hover{
    background-color: var(--boton-hover);
    color: var(--button-text);  
    
}

hr {
    display: block;
    width: 80%;
    margin-top: 4rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.1rem;
}


.register-button{
    text-align: center;
}

.register-button button{
    width: 20rem;    
    height: 4.5rem;
    border-radius: 10rem;    
    margin-top: 2rem;
    font-size: 2rem;
    background-color: var(--button-text);
    color: var(--boton-hover);
    box-shadow: 3px 3px 3px var(--titulo);
}

.register-button button:hover, #register:hover {
    background-color: var(--boton-hover);  
    color: var(--button-text); 
  }

footer {
    width: 100%;
    margin-top: 6rem;
    text-align: center;
}

a{
    display: inline; 
    text-decoration: none;
    font-size: 160%;  
    color: var(--titulo);
    padding: 2%; 
    text-shadow: 0.1rem 0.1rem var(--hover-enlace);    
}
  
a:hover{
    color: var(--hover);
    cursor: pointer;
}



@media (min-width: 600px) {
    main {
        width: 80%;
        height: 65%;
        padding-top: 8rem;
        margin-top: 7rem;
        border-style: solid;
        border-color: var(--border);
        margin-left: auto;
        margin-right: auto;        
        border-width: 0.1rem;
        border-radius: 2rem;        
    }   

    #title {    
        font-size: 4rem;
        letter-spacing: 0.6rem;    
    }
    
    .login-form-container {  
        width:88%; 
        height: 50%;
        margin-top: 10rem; 
        text-align: center;       

    } 
    
    #email{        
        height: 7rem;    
        border-radius: 0.8rem;
        margin-bottom: 2rem;
        padding-left: 3rem; 
        font-size: 2rem;    
    }
    
    #password{        
        height: 7rem;    
        border-radius: 0.6rem;
        padding-left: 3rem;         
        font-size: 2rem;    
    }
    
    
    #submit-button{
        width: 20rem;    
        height: 6.5rem;
        border-radius: 5rem;
        text-align: center;
        padding-left: 0;
        float: right;
        margin-right: 1.8rem;
        margin-top: 2rem;
        font-size: 2.3rem;
        background-color: var(--button-login);
        color: var(--button-text);
    }
    
    
    #login-button:hover{
        background-color: var(--boton-hover);
        color: var(--button-text);  
        
    }
    
    hr {
        display: block;
        width: 85%;
        margin-top: 5rem;
    }

    .register-button{
        text-align: center;
    }
    
    .register-button button{
        width: 30rem;    
        height: 6rem;
        border-radius: 10rem;    
        text-align: center;   
        margin-top: 5rem;
        margin-right: auto;
        margin-left: auto;
        font-size: 2.6rem;

        margin-left: auto;    }
    
    .register-button button:hover, #register:hover {
        background-color: var(--boton-hover);  
        color: var(--button-text); 
      }
    
    
    footer {        
        margin-top: 12rem;        
    }
    
    a{        
        font-size: 220%;           
    }
      
    a:hover{
        color: var(--hover);
        cursor: pointer;
    }
}

    
@media (min-width: 800px) {    
    body {
        position:relative ;
        box-sizing: border-box;
        width: 100rem;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
      }

    main {
        width: 80%;
        height: 80rem;
        padding-top: 8rem;
        margin-top: 7rem;
        border-style: solid;
        border-color: var(--border);
        margin-left: auto;
        margin-right: auto;        
        border-width: 0.1rem;
        border-radius: 2rem;        
    }   

    #title {    
        font-size: 5.5rem;
        letter-spacing: 0.5rem;
        text-shadow: 0.2rem 0.1rem var(--title-ant-color);   
    }
    
    .login-form-container {  
        width:88%; 
        height: 50%;
        margin-top: 10rem; 
        text-align: center; 
    } 
    
    #email{        
        height: 7rem;    
        border-radius: 0.8rem;
        margin-bottom: 2rem;
        padding-left: 3rem; 
        font-size: 1.8rem;    
    }
    
    #password{        
        height: 7rem;    
        border-radius: 0.6rem;
        padding-left: 3rem;         
        font-size: 1.8rem;    
    }
    
    
    #submit-button{
        width: 20rem;    
        height: 6.5rem;
        border-radius: 5rem;
        font-size: 2rem;
        text-align: center;
        padding-left: 0;
        float: right;
        letter-spacing: 0.18rem;
        margin-right: 1.8rem;
        margin-top: 2rem22.3rem;
        background-color: var(--button-login);
        color: var(--button-text);
    }
    
    
    #login-button:hover{
        background-color: var(--boton-hover);
        color: var(--button-text); 
    }
    
    hr {
        display: block;
        width: 85%;
        margin-top: 5rem;
    }

    .register-button{
        text-align: center;
    }
    
    .register-button button{
        width: 20rem;    
        height: 6rem;
        border-radius: 10rem;    
        text-align: center;   
        margin-top: 5rem;
        margin-right: auto;
        margin-left: auto;   
        margin-left: auto; 
        font-size: 1.8rem;
        letter-spacing: 0.18rem;
    }
    
    .register-button button:hover {
        background-color: var(--boton-hover);  
        color: var(--button-text); 
    }
    
    
    footer {
        width: 90%;
        padding-top: 10rem;
        padding-bottom: 5rem;;            
        margin: auto;
    }

    a{        
        font-size: 250%;           
    }
      
    a:hover{
        color: var(--hover);
        cursor: pointer;
    }
}
